.sphere__container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 172px;
}

.sphere__input {
  box-sizing: border-box;
  display: flex;
  width: 552px;
  height: 48px;
  padding-left: 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid var(--Gray-30, #d4d7d9);
  background: var(--White-10, #fff);
  margin: 0 auto 6px;
}

.sphere__input:focus {
  outline: 1px solid #71a2ff;
}

.sphere__input_error {
  border: 1px solid #ec3c3c;
}

.sphere__chips-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 552px;
  flex-wrap: wrap;
  gap: 12px;
  margin: auto;
}

.sphere__chip {
  border-radius: 4px;
  border: 1px solid var(--Blue-Violet-blue-40, #cfd8fa);
}

.sphere__error {
  display: block;
  min-height: 17px;
  color: #ec3c3c;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 15px 0;
}

.sphere__current {
  margin-bottom: 100px;
}

.sphere__button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
