.interview__container {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 172px;
}

.interview__text {
  color: #303233;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 142%;
  margin: 0 0 14px;
}

.interview__radiobuttons {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.interview__current {
  margin-bottom: 100px;
}

.interview__error {
  color: #ec3c3c;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: -3px 0 0 18px;
}

.interview__button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
