/* @import url(../../vendor/normalize.css); */
@import url(../../vendor/fonts/fonts.css);

:root {
  font-family: "Proxima Nova", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.form {
  max-width: 952px;
  width: 100%;
  margin: 0 auto;
}

.form_fullpage {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
