.city__container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.city__input {
  box-sizing: border-box;
  display: flex;
  width: 538px;
  height: 40px;
  padding: 8px 522.5px 7px 14px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Blue-50, #71a2ff);
  background: var(--White-10, #fff);
  position: relative;
}

.city__input:focus {
  outline: 1px solid #71a2ff;
}

.city__input_error {
  border: 1px solid #ec3c3c;
}

.city_datalist {
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--White-10, #fff);
}

option {
  padding: 5px 10px;
  cursor: pointer;
}

option:hover {
  background-color: #f0f0f0;
}

.city__error {
  display: block;
  min-height: 17px;
  color: #ec3c3c;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 15px 0;
}

.city__current {
}

.city__button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.search_pic {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 210px;
  width: 24px;
  height: 24px;
  margin: 42px 2px 2px;
  cursor: pointer;
}
