.number-vacancies__container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 172px;
}

.number-vacancies__input {
  box-sizing: border-box;
  display: flex;
  width: 320px;
  height: 48px;
  padding-left: 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid var(--Gray-30, #d4d7d9);
  background: var(--White-10, #fff);
  margin-bottom: 6px;
}

.number-vacancies__input:focus {
  outline: 1px solid #71A2FF;
}

.number-vacancies__input_error {
  border: 1px solid #EC3C3C;
}

.number-vacancies__error {
  display: block;
  min-height: 17px;
  color: #EC3C3C;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 15px 0;
}

.number-vacancies__current {
  /* margin-left: 185px;
  margin-top: 255px; */
}

.number-vacancies__current {
  margin-bottom: 100px;
}

.number-vacancies__button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
