.progress-bar {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.progress-bar__title {
  font-family: "Proxima Nova";
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin-left: 40px;
}

.progress-bar__menu {
  margin: auto;
  display: flex;
  flex-direction: row;
  font-family: "Proxima Nova";
}

.progress-bar__links {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
  margin: 6px 0;
}

.progress-bar__link {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: Arial;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.progress-bar__link_active {
  color: #71a2ff;
}

.progress-bar__step {
  margin-bottom: 0.75rem;
}

@media (min-width: 1440px) {
  .progress-bar {
    max-width: 1440px;
    margin: 0 auto;
  }
}
