.office-remote__container {
  display: flex;
  max-width: 208px;
  margin-top: 30px;
  margin-left: 190px;
  column-gap: 23px;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}

.office-remote__radiobuttons {
  display: flex;
  flex-direction: column;
}

.office-remote__error {
  display: block;
  min-height: 17px;
  color: #EC3C3C;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.office-remote__current {
  margin-top: 138px;
  width: 780px;
}

.office-remote__button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  margin: 30px 0 0 560px;
}