.recruiters-number__container {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 172px;
}

.recruiters-number__text {
  color: #303233;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 20px;
}

.recruiters-number__radiobuttons {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.recruiters-number__current {
  margin-bottom: 100px;
}

.recruiters-number__error {
  color: #ec3c3c;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: -4px 0 0 19px;
}

.recruiters-number__button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
