.portfolio__container {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  margin-left: 179px;
}

.portfolio__radiobuttons {
  display: flex;
  flex-direction: column;
  margin-bottom: -4px;
}

.portfolio__error {
  color: #ec3c3c;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 0 15px;
}

.portfolio__current {
  margin-bottom: 100px;
}

.portfolio__button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
