.recruiters-tasks__container {
  display: flex;
  flex-direction: column;
  margin: 76px 0 0 176px;
}

.recruiters-tasks__checkbox {
  display: flex;
  flex-direction: column;
}

.recruiters-tasks__error {
  color: #EC3C3C;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 0 15px;
}

.recruiters-tasks__button {
  margin: 200px 0 0 300px;
}