.button {
  background-color: #71a2ff;
  color: white;
  width: 212px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-family: Arial;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 0;
  position: absolute;
  bottom: 200px;
  right: 0;
}

.button:hover {
  cursor: pointer;
  background-color: #3d80ff;
}

.button_disabled {
  background-color: #babdbf;
}

.button_error {
  background-color: #fff0f0;
  color: #ec3c3c;
}
