.header {
  display: flex;
  max-width: 1440px;
  min-height: 76px;
  margin: 0;
  padding: 0 96px;
  justify-content: space-between;
  align-items: center;
  /* flex-shrink: 0; */
  /* background: var(--Black-60, #222324); */
  background-color: #222324;
}

.header__logo-container {
  margin-top: 6px;
}

.header__links {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.header__link {
  text-decoration: none;
  /* color: var(--White, #fff); */
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header__cursor {
  width: 15px;
  height: 10px;
  flex-shrink: 0;
  margin-left: 14px;
}

.header__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.header__icons {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 8px;
}

.header__cursor {
  width: 15px;
  height: 10px;
  flex-shrink: 0;
  margin-left: 14px;
}
.header__avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  object-fit: cover;
  object-position: center;
  margin: 0 12px 0 8px;
}

.header__user {
  display: flex;
  flex-direction: column;
}

.header__user-name {
  color: #ffffff;
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header__change_profile {
  width: 20px;
  height: 24px;
  cursor: pointer;
}

.header__user-position {
  color: #babdbf;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
