.stephome {
  display: flex;
  width: 552px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  box-sizing: border-box;
}

.stephome__title {
  color: var(--Gray-80, #303233);
  font-family: "Proxima Nova";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  align-self: flex-start;
  margin-bottom: 13px;
}

.stephome__input {
  display: flex;
  width: 552px;
  height: 48px;
  padding-left: 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid var(--Gray-30, #d4d7d9);
  background: var(--White-10, #fff);
  margin-bottom: 60px;
}
