.current__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-top: 100px;
  max-width: 780px;
  min-height: 84px;
  border-radius: 20px;
  border: 1px solid var(--Blue-50, #71a2ff);
  position: relative;
}

.current__title {
  color: var(--Gray-80, #303233);
  margin: 0;
  font-family: "Proxima Nova";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  align-items: flex-start;
  line-height: 42px; /* 150% */
}

.current__options {
  display: flex;
  max-width: 780px;
  padding-left: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: space-around; */
  gap: 16px;
}

.current__item {
  padding: 6px 12px;
  margin-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--Blue-Violet-blue-40, #cfd8fa);
  cursor: pointer;
}

.current__check {
  position: absolute;
  top: 30%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
