.recruiters-peculiarities__container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 172px;
}

.recruiters-peculiarities__input {
  display: flex;
  width: 385px;
  height: 286px;
  padding: 20px 31px 46px;
  border: 1px solid #D4D7D9;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 2px;
}

.recruiters-peculiarities__current {
  margin-bottom: 100px;
}

::placeholder {
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--Gray-50, #959799);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  white-space: break-spaces;
}

.recruiters-peculiarities__input:focus {
  outline: 1px solid #71A2FF;
}

.recruiters-peculiarities__input_error {
  border: 1px solid #EC3C3C;
}

.recruiters-peculiarities__character-count {
  position: absolute;
  top: 300px;
  left: 380px;
  color: var(--Gray-50, #959799);
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.recruiters-peculiarities__checkbox {
  display: flex;
  flex-direction: column;
}

.recruiters-peculiarities__error {
  display: block;
  min-height: 17px;
  color: #EC3C3C;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 25px 0;
}

.recruiters-peculiarities__button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
